@model Banking.Models.Branch_Tbl

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageForAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.branch_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branch_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ifsc_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifsc_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
