@model Banking.Models.Loandetail_Tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loandetail_Tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.accountno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Tbl.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Tbl.type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
